<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
     <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,400i,700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/assets/css/style.css" />
</head>


  <main class="container-fluid mx-auto">
{{{body}}}
    

  </main>

  <script src="/assets/js/index.js"></script>

</body>

</html>