<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>

<!-- THIS FILE : views/layouts/main.handlebars is the HTML page wrapper 
which can be reused for different views of the app -->
<header class="bg-green-900 text-3xl text-center text-white ">
        <h1 >The River Brew Crew</h1> 
</header>
<body>

    {{{body}}} <!-- the <h1>Home</h1> from home.handlebars would render -->
 {{!-- placeholder for where main content should be rendered  --}}


</body>

</html>