<div class="container">
        <h2 class="text-center" id="my-heading">Login</h2>
    <script>
        // Target the h1 element
        var heading = document.getElementById('my-heading');
        // Define the animation properties
        var animation = anime({
            targets: heading,
            opacity: [1, 0],
            easing: 'linear',
            duration: 500,
            direction: 'alternate',
            loop: true
        });
    </script>
        <br>
        <div class="input-group">
            <label for="password-login" class="label">Password</label>
            <input type="password" id="password-login" class="input">
            <span class="error-message"></span>
        </div>
        <br>
        <button class="button" type="submit">Login</button>
    </form>
</div>
<button class="button" id="new-trip" type="submit">Registering Trip?</button>
<form class="register">
    <button class="button" id="new-user" type="submit">Joining a Trip</button>
</form>
<script src="/assets/js/login.js"></script>