<div class="container">
        <h2 class="text-center" id="my-heading">Login</h2>
    <script>
        // Target the h1 element
        var heading = document.getElementById('my-heading');
        // Define the animation properties
        var animation = anime({
            targets: heading,
            opacity: [1, 0],
            easing: 'linear',
            duration: 500,
            direction: 'alternate',
            loop: true
        });
    </script>
        <br>
        <form action="/dashboard.html" class="loginForm">
            <div class="input-group">
                <label for="username" class="label">Username</label>
                <input type="text" id="username" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="password" class="label">Password</label>
                <input type="password" id="password" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <button class="button" type="submit">Login</button>
        </form>
    </div>
    <script src="/assets/js/login.js"></script>