<div class="container">
        <h2 class="text-center">Register</h2>
        <br>
        <form class="newTripForm">
            <div class="input-group">
                <label for="tripName-signup" class="label">Name your trip something FUNKY</label>
                <input type="text" id="tripName-signup" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="launch" class="label">When do you launch?</label>
                <input type="text" id="launch" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="end" class="label">When does the trip end?</label>
                <input type="text" id="end" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="section" class="label">What section?</label>
                <input type="text" id="section" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <div class="input-group">
                <label for="river" class="label">of Which river?</label>
                <input type="text" id="river" class="input">
                <span class="error-message"></span>
            </div>
            <br>
            <button class="button" id="new-trip" type="submit">Register Yourself!</button>
        </form>
    </div>
    <script src="/assets/js/new-trip.js"></script>