<div class="container">
    <form class="newUserForm">
        <div class="input-group">
            <label for="username" class="label">Identifying Username</label>
            <input type="text" id="username" class="input">
            <span class="error-message"></span>
        </div>
        <br>
        <div class="input-group">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" class="input">
            <span class="error-message"></span>
        </div>
        <br>
        <div class="input-group">
            <label for="email" class="label">Email</label>
            <input type="text" id="email" class="input">
            <span class="error-message"></span>
        </div>
        <br>
        <div class="input-group">
            <label for="diet" class="form-label">Dietary Needs (pick all that apply)</label>
            <small>On macOS, use <kbd>command + click</kbd></small> <br />
            <small>On Windows, use <kdb>ctrl + click</kdb></small>
            <select multiple id="diet" class="form-input" name="diet">
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
                <option value="pescetarian">Pescetarian</option>
                <option value="nut-free">Nut Free</option>
                <option value="gluten-free">Gluten Free</option>
            </select>
        </div>
        <div class="col-12 col-lg-9 bg-dark p-3">
            <div class="input-group">
                <label for="has_boat" id="has_boat" class="form-label">Bringing a boat?</label>
                <div class="flex-row justify-center">
                    <div class="col-auto mb-2">
                        <input type="radio" id="no-boat-input" name="boat" value="no-boat">
                        <label for="no-boat-input">None</label>
                    </div>
                    <div class="col-auto mb-2">
                        <input type="radio" id="raft-input" name="boat" value="raft">
                        <label for="raft-input">Raft</label>
                    </div>
                    <div class="col-auto mb-2">
                        <input type="radio" id="kayak-input" name="boat" value="kayak">
                        <label for="kayak-input">Kayak</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 bg-dark p-3">
                <label for="row-input" class="form-label">Can you Captain a Boat?</label>
                <div class="flex-row justify-center">
                    <div class="col-auto mb-2">
                        <input type="radio" id="row-input" name="can-row" value="row">
                        <label for="row-input">Select for 'yes'</label>
                    </div>
                </div>
                <div class="input-group">
                    <label for="trip_id" class="label">Enter Trip Code</label>
                    <input type="text" id="trip_id" class="input">
                    <span class="error-message"></span>
                </div>
            </div>
        </div>

        <button class="form__button" id="join-trip" type="submit" style="bg-secondary">Join the Crew!</button>
    </form>
</div>
<script src="/assets/js/new-user.js"></script>